<% if flash[:error] %>
    <p style="color: red;"><%= flash[:error] %></p>

<% end %>

<%= form_with model: @role_request do |form| %>
  <div>
    <%= form.label :requested_template_id, "Role to Request" %>
    <%= form.select :requested_template_id, options_for_select([
      ["RDS Read-only", 1],
      ["RDS Read-write", 2],
      ["RDS Administrator", 3]
    ]) %>
  </div>

  <div class="my-6">
    <%= form.label :duration, "Permission Grant Duration" %>
    <%= form.select :requested_duration, options_for_select([
      ["6 hours", "21600"],
      ["24 hours", "86400"],
      ["72 hours", "259200"]
    ]) %>
  </div>

  <div class="my-6">
    <%= form.label :description, "Description" %>
    <div><%= form.text_area :description, size: "30x10", required: true %></div>
  </div>


  <span class="bg-gray-300 border-2 border-gray-400 rounded p-2 hover:cursor-pointer hover:bg-gray-400 my-8"><%= form.submit "Submit Request", :class => "hover:cursor-pointer" %></span>
<% end %>
